/*
@font-face {
 	font-family: YH;
 	src: url("../font/MSYH.TTF");
}
@font-face {
 	font-family: YHB;
 	src: url("../font/MSYHBD.TTF");
}
*/
.menu_bg{
	background: url("../images/bt-bg-all.png");
   	height:124px;
}

.clearfix:after { content:""; display:block; height:0; clear:both; visibility:hidden;}
.clearfix       { display:inline-block; }/* Safari, Chrome, Opera, FF  */
.clearfix       { display:block;} /* IE */

body
{
	font-family: "微软雅黑",Arial,"宋体";
	color:#666;   
}

.menu_list 
{
	position: relative;
	width: 185px;
	background: #F5F5F5;
	z-index: 100;
	left: 1px;
	display:none;
	top: -10px;
	
}

.sub_item{
	height: 35px;
	padding-top: 13px;
	padding-left: 10px;
	position: relative;
	cursor: pointer;
}

.sub_item_cover
{
	border-bottom: 1px solid #fff;
	background:url(../images/subitembg_0.png) repeat-y 0% 0%;
}

.sub_bg_1
{
		background:url(../images/subitembg_1.png) repeat-y 0% 0%;
}

.sub_bg_2
{
		background:url(../images/subitembg_2.png) repeat-y 0% 0%;
}
.sub_bg_3
{
		background:url(../images/subitembg_3.png) repeat-y 0% 0%;
}
.sub_bg_4
{
		background:url(../images/subitembg_4.png) repeat-y 0% 0%;
}
.sub_bg_5
{
		background:url(../images/subitembg_5.png) repeat-y 0% 0%;
}
.sub_bg_6
{
		background:url(../images/subitembg_6.png) repeat-y 0% 0%;
}

.sub_bg_7
{
		background:url(../images/subitembg_7.png) repeat-y 0% 0%;
}
.menu_item
{
	height:117px;
	width: 154px !important;
	padding-right:37px;
	margin-left: 0px;
	margin-right: -3px;
	cursor:pointer;
	
}
.menu_mouse_over
{
	background: url("../images/mouse_over.png") no-repeat;
	
}


.div_icon
{
	padding-left:10px;
	width:30px;
	float: left;
}

.menu_txt{
	padding-top: 1px;
	float: left;
	padding-left: 5px;
}
.menu_item .menu_bar
{
	padding-top: 40px;
	text-align: center;
	padding-left: 8px;
	color:#ffffff;
	padding-bottom: 26px;
	width: 166px;
	margin-left: 4px;
}

.title
{
	font-family: "微软雅黑",Arial,"宋体";
	/*text-align: center;*/
	color:#ADADAD;
}
.list_header
{
	margin-top:10px;
	padding-left:30px;
	font-size:14pt;
	float:left;
}
.footer_bg{
	background-color:#333;	
	filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	height:50px;
}
.more
{
	float:right;
	padding-right: 20px;
	font-size:9pt;
	margin-top: 10px;
}
.small
{
	font-size:12pt;
}

.new_date
{
	padding-right:10px;
	padding-left: 10px;
}
.tiny
{
	font-size:9pt;
	color:#ddd;
}
.border-r{
	border-right:#ccc solid 1px;
}

.border-l{
	border-left:#ccc solid 1px;
}

.border-b{
	border-bottom:#ccc solid 1px;
}
.center_text
{
	text-align: center;
}
.menu_text
{
	padding-top: 10px;
}

.cell
{
	float:left;
	/*padding-top:14px;
	padding-bottom:14px;*/
}
.head_panel
{
	/*height:50px*/
}

.head_image_panel
{
	height:150px;
}
.foot_panel 
{
	/*border-top:#ccc solid 1px; */
	height:40px
}

.icon_div_4
{
	width:25%;
	float:left;
	height:100px;
	background:url(../images/bg_line.png) repeat-y 100% 0%;

}

.black_bg
{
	background-color:#272a55;
}
.select_cell
{
		background:url(../images/cellbg.png) repeat-x 0% 100%;
		color:#666;   
}

.blue_header
{
	background:url(../images/blue_header.png) repeat-x 0% 0%;
	height:71px;
}
.inner_grid
{
	margin-left:0px;
}

.inner_grid_r
{
	margin-right:0px;
}
.content_cell
{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	/*border-bottom:1px solid #eee;*/
	/*background:url(../images/arrow-right.png) no-repeat 98% 50%; */
	
}

.head_arrow
{
	background: url(../images/arrow-right.png) no-repeat 99% 5px;
	height: 40px;
}
.content_item
{
	position: relative;
	cursor: pointer;
}
.first_news_content
{
	padding-left:10px;
	padding-top:14px;
	color:#888;   
	width:360px;
	height:120px; 
}
.big_title
{
	font-size: 14pt;
	padding-left: 0px;
	margin-left: 11px;
	margin-right: -31px;
	padding-bottom: 1px;
	color: #333;  
	border-bottom: 2px solid #FFB800;
}
.foot_cell
{
	padding-top:10px !important;
}
.cell_6
{
	width:16.6667%;
}

.cell_5
{
	width:20%;
}

.cell_4
{
	width:25%;
}

.cell_3
{
	width:33.2%;
}

.cell_2
{
	width:50%;
}


.cell_1
{
	width:100%;
}

.pull_right
{
	float:right;
}

.pull_left
{
	float:left;
}
.panel_header
{
	border-bottom:1px solid #ccc;
}

.white_panel
{
	background-color:#fff;	
	/*filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;*/
}

.single_new
{
	height:50px;
}

.left_tab
{
	width:70px;
	float:left;
	background:url(../images/line-1px-d9d9d9.png) repeat-y 100% 0%;
	
	
}
.lefft_image_icon
{
	padding-left:16px;
	padding-top:15px;
}

.left_tab_item
{
	height:66px;
	background:url(../images/icon_bg.png) repeat-x 0% 100%;
	/*filter:alpha(Opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;*/
}


.right_tab
{

	float:left;
	height: 100px;
	
	
	
}
.content_right{
	float:left;
	width:250px;
	margin-left:50px;
}
.text_shadow_content
{
	
	color:#ffffff;
	/*padding-left: 80px;*/
	padding-top: 10px;
	padding-right:10px;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#333333', Positive='true');
	text-shadow: #333333 2px 2px 2px;
}
.shadow_title
{
	/*padding-left: 110px;*/
	padding-top: 24px;
	font-size:22pt;
}

.shadow_home
{
	color:#ffffff;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#333333', Positive='true');
	text-shadow: #333333 2px 2px 2px;
	font-size: 11pt;
}

.shadow_title_line
{
	
	border-bottom:1px solid #ffffff;
}
.shadow_small
{
	/*padding-left: 110px;*/
	font-size:12pt;
}
.left_tab_item_selected
{
	position:relative;
	background-color:#FFFFFF;
}
.small_bg
{
	background:url(../images/tmp-block-bg.png) no-repeat 0% 0%;
	filter:alpha(Opacity=100);
	-moz-opacity:1.0;
	opacity: 1.0;
}

.left_slide
{
	position:relative;
	width:100px;
	height:66px;
	background-color:#ffffff;
	top: -54px;
	left: 75px;
	display: none;
}
.left_slide_txt
{
	padding-top: 23px;
	padding-left: 6px;	
}
.cover{
	background-color:#cccccc;
	filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
}
.single_new .label
{
	width:50px;
	height:50px;
	float:left;
	background-color:#80af92;
}

.search_div
{
	float: left;
}

.search_input
{
	border: 0px solid #ffffff;
	font-size: 18pt;
	margin-left:10px;
	margin-top:10px;
	width: 230px;
	border-bottom: 1px solid #eee;
	color: #999999;
}
.single_new .label_1
{
	width:50px;
	height:50px;
	float:left;
	background-color:#907ea6;
}
.single_new .label div
{
	color:#fff;
	font-size:18pt;
	padding-top:10px;
	padding-left:10px;
}
.single_new .label_1 div
{
	color:#fff;
	font-size:18pt;
	padding-top:10px;
	padding-left:10px;
}

.bt-shadow
{
	background: url("../images/bt-shadow.png");
	height:10px;
}

.sample_left_panel
{
	width:300px;
	float:left;
	
	overflow:hidden;
}
.sample_left_panel_1
{
	width:230px;
	float:left;
	margin-left:10px;
}
.first_news
{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px; 
	/*border-bottom:1px solid #eee;*/
	/*border-top:1px solid #eee;*/
} 
.title_image
{
	width:200px;
	
}
/* tmp css*/

.left_panel
{
	height:300px;
}
.left_panel_block
{
	width:200px; 
	background-color:#21649c;  
	border-top:1px solid #2669a0;
}

.tmp_header_image_bg
{
	background: url("../images/rain_bg.jpg");
}

.tmp_blank_bg
{
	margin-top:5px;
	margin-bottom:5px;
}
.tmp_icon
{
	padding-left:22px;
	padding-top:26px;
}